.feature {
    background: -webkit-linear-gradient(rgba(2, 2, 2, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/map.jpg");
    background: linear-gradient(rgba(2, 2, 2, 0.77), rgba(0, 0, 0, 0.55)), url("../../images/map.jpg");
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 4%;
    margin-top: 50px;
}